
<footer class="footer">
	<div class="footer-content">
		<a
			class="footer-profile click"
			href="https://www.instagram.com/professoraednateles?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
			target="_blank"
		>
			<img class="footer-profile-image" src="./assets/images/profile.png"/>
			<h5 class="footer-profile-name">Professora Edna Teles</h5>
			<p class="footer-profile-instagram"> {{ "@professoraednateles" }}</p>
		</a>
		<div class="footer-posts">
			<p class="footer-description">
				Me siga no instagram para acompanhar o lançamento de novos jogos e ficar por dentro das novidades!<br/>
				<span>
					✨ Vamos juntos transformar suas aulas e fazer com que seus alunos se apaixonem pela matemática! ✨
				</span>
			</p>

			<div class="footer-images">
				<a class="footer-image-container click" href="#" target="_blank">
					<img class="footer-image" src="https://res.cloudinary.com/dnchjuhxp/image/upload/v1730595103/test/y8wfzcrmyx1doweyrsfz.jpg"/>
				</a>
				<a class="footer-image-container click" href="#" target="_blank">
					<img class="footer-image" src="https://res.cloudinary.com/dnchjuhxp/image/upload/v1730595103/test/y8wfzcrmyx1doweyrsfz.jpg"/>
				</a>
				<a class="footer-image-container click" href="#" target="_blank">
					<img class="footer-image" src="https://res.cloudinary.com/dnchjuhxp/image/upload/v1730595103/test/y8wfzcrmyx1doweyrsfz.jpg"/>
				</a>
				<a class="footer-image-container click" href="#" target="_blank">
					<img class="footer-image" src="https://res.cloudinary.com/dnchjuhxp/image/upload/v1730595103/test/y8wfzcrmyx1doweyrsfz.jpg"/>
				</a>
				<a class="footer-image-container click" href="#" target="_blank">
					<img class="footer-image" src="https://res.cloudinary.com/dnchjuhxp/image/upload/v1730595103/test/y8wfzcrmyx1doweyrsfz.jpg"/>
				</a>
			</div>
		</div>
	</div>
	<div class="footer-copy">Professora Edna Teles | 2024</div>
</footer>
