<header>
	<div class="header-container">
		<h2 class="header-title click">Professora Edna Teles</h2>
		<nav class="header-links">
			<a class="header-link click-fill">Inicio</a>
			<a class="header-link click-fill">Primário</a>
			<a class="header-link click-fill">Ensino Fundamental</a>
			<a class="header-link click-fill">Ensino Médio</a>
			<a class="header-link click-fill">Todos os Jogos</a>
			<a class="header-link click-fill">Sobre</a>
		</nav>
	</div>
	<div class="header-container">
		<img class="header-button click-fill" src="./assets/images/menu.svg"/>
		<img class="header-button click-fill" src="./assets/images/cart.svg"/>
	</div>
</header>
