
.product-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
	width: 100%;
	min-height: 500px;
	background-color: var(--back-light);

	.product-section-title {
		margin: 0;
		padding: 20px;

		background-color: var(--back-normal);

		font-size: 3em;
		color: var(--text);
		text-align: center;

		animation: anim_start_title .5s ease-in-out;

		@keyframes anim_start_title {
			0% { transform: scaleY(0); }
			95% { transform: scaleY(1.02); }
			100% { transform: scaleY(1); }
		}
	}

	.product-section-divider {
		margin-bottom: 30px;

		border: none;
		background-color: var(--back-dark-p);
		width: 80%;
		height: 3px;

		animation: anim_start_divider .5s ease-in-out;

		@keyframes anim_start_divider {
			0% { transform: scaleX(0); }
			95% { transform: scaleX(1.02); }
			100% { transform: scaleX(1); }
		}
	}

	.product-section-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;
	}
}
