
.product-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 70px 0px;
	width: 100%;
	min-height: 500px;

	.product-section-title {
		margin: 0;
		padding: 20px;

		font-size: 3em;
		color: var(--text);
		text-align: center;
		line-height: 1em;

		background-color: var(--back-normal);
		animation: anim_start_title .5s ease-in-out;

		@keyframes anim_start_title {
			0% { transform: scaleX(0); }
			95% { transform: scaleX(1.02); }
			100% { transform: scaleX(1); }
		}
	}

	.product-section-divider {
		margin-bottom: 30px;

		border: none;
		background-color: var(--back-dark-p);
		width: 80%;
		height: 3px;

		animation: anim_start_divider .5s ease-in-out;

		@keyframes anim_start_divider {
			0% { transform: scaleX(0); }
			95% { transform: scaleX(1.02); }
			100% { transform: scaleX(1); }
		}
	}

	.product-section-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;
	}
}

.colorful {
	background-color: var(--back-light);
}

.white {

	background-color: var(--back-light-p);


	.product-section-title {
		color: var(--text-mark-strong);
		background-color: transparent;
	}

	.product-section-divider {
		background-color: var(--text-mark-strong);
	}
}

@media only screen and (max-width: 500px) {
	.product-section { .product-section-title {
		font-size: 2.4em;
	}}
}

@media only screen and (max-width: 380px) {
	.product-section { .product-section-title {
		font-size: 1.8em;
	}}
}
