
<div class="search">
	<!-- <img width="200px" src="./assets/images/moldura-top.svg"/> -->
	<h2 class="search-title">O que você está procurando?</h2>
	<hr class="search-divider"/>
	<div class="search-inputs">
		<input
			#searchInput
			class="search-input"
			type="search"
			list="search-terms"
			name="pesquisar"
			autocomplete="off"
			autocapitalize="on"
			placeholder="Digite sua busca aqui..."
		/>
		<datalist #searchTerms id="search-terms"></datalist>
		<button class="search-button click" type="button" (click)="search()">Procurar</button>
	</div>
</div>
