
:root {
	--text: #fee;
	--text-mark: #f37ec6;
	--text-mark-strong: #ff29ad;
	--text-dark: #77014a;
	--back-normal: #ee5ab5;
	--back-dark: #dd40a1;
	--back-dark-p: #d13695;
	--back-light: #f37ec6;
	--back-light-p: #fff1fa;
	--back-black-transparent: rgba(0, 0, 0, 0.5);
}
